{
	"singleQuote": true,
	"bracketSpacing": false,
	"jsxBracketSameLine": false,
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.yml"],
			"options": {
				"singleQuote": false
			}
		}
	]
}
